<ion-header>
  <ion-toolbar >
    <ion-title>todo</ion-title>
    <ion-buttons slot="end">
        <app-menu></app-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1, 2, 3, 4, 5]; let i = index">
          <ion-card >
              <ion-img src="https://www.publicdomainpictures.net/pictures/140000/nahled/small-forest-in-autumn-1448279559LBo.jpg"></ion-img>
              <ion-card-content>
              <ion-card-title>
                      Lorem Title
                  </ion-card-title>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, dolore.</p>
            </ion-card-content>  
          </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content padding>
    <ion-card *ngFor="let item of [1, 2, 3, 4, 5]; let i = index">
        <ion-img src="https://www.publicdomainpictures.net/pictures/140000/nahled/small-forest-in-autumn-1448279559LBo.jpg"></ion-img>
        <ion-card-content>
        <ion-card-title>
                Lorem Title
            </ion-card-title>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, dolore.</p>
      </ion-card-content>  
    </ion-card>
</ion-content> -->
      <!-- <ion-card-content padding>    
        <ion-card *ngFor = "let item of [1, 2, 3, 4, 5]; let i = index">
          <ion image = "https://thumb7.shutterstock.com/thumb_large/172044356/1498163621/stock-photo-european-robin-erithacus-rubecula-perching-on-tree-trunk-in-british-woodland-on-sunny-autumn-day-1498163621.jpg"></ion>
        <ion-card-title>
          Lorem Title
        </ion-card-title>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, dolore.</p>
   
    </ion-card>   
  </ion-card-content> -->
    <!-- <ion-button color = "danger" fill = "outline" shape = "round" size="small"> Add to Do</ion-button>

    <ion-fab vertical="top" horizontal="end"  slot="fixed"  >
      <ion-fab-button fill="solid" color="clear"  size="small" no-shadow>
        <ion-icon name="add" color="danger" >+</ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item *ngFor = "let item of [1, 2, 3, 4, 5]; let i = index">
          <ion-badge slot="start">{{i+1}}</ion-badge>
          <ion-label>
            <h2>Loreal</h2>
            <p>Lorem ipsum. </p> 
          </ion-label>
          <ion-badge slot="end" color="danger">
            <ion-icon name = "trash"></ion-icon>
          </ion-badge>
        </ion-item>
    </ion-list> -->


